
@font-face {
	font-family: "Nasa";
	src: url("../fonts/nasalization-rg.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient( #0D1D36, #000);
	font-family: "Nasa", Times, serif;
	color: #fff;
	overflow-y: hidden;
}

.header {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.header img{
	margin-top: 5px;
	width: 600px;
}

.header i{
	color: #fff;
	font-size: 30px;
}

.header i:hover{
	color: rgb(255, 136, 0);
}

.main {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
}

.text-line {
	display: flex;
	flex-direction: row;
}

.line-galery {
	width: 6vw;
	height: 1px;
	background-color: rgba(228, 228, 228, 0.714);
	border-radius: 15px;
	border: none;
	margin: 10px;
}


form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form h3{
	text-align: center;
}

form label{
	margin-bottom: 12px;
}

form input{
	text-transform: uppercase;
	padding: 5px;
	height: 30px;
	color: #fff;
	background-color:rgba(0, 0, 0, 0);
	border: none;
	border-bottom: rgb(104, 104, 104) 2px solid;
}

form input:focus{
	border: none;
	border-bottom: rgb(255, 136, 0) 4px solid;
}

.form-single{
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.form-duo {
	display: flex ;
	flex-direction: row;
}

.button-next {
	margin-top: 50px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: #fff 1px solid;
	padding: 15px;
	width: 300px;
	transition: 0.5s;
}

.button-next:hover {
	color: rgb(255, 136, 0);
	border: rgb(255, 136, 0) 1px solid;
}






@media (max-width: 640px){

	.header img{
		margin-top: 5px;
		width: 500px;
	}
	

}